body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  position: relative;
}
.background {
  z-index: 1;
  position: absolute;
  width: 100%;
  .background-rightside {
    display: block;
    .bg-kanzen {
      height: 803px;
      background: #f4f4f4;
    }
    .bg-threemonth {
      height: 1080px;
    }
    .bg-warning {
      height: 887px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-tasya {
      height: 1910px;
    }
    .bg-konsaru {
      height: 1057px;
      background: #fffee8;
    }
    .bg-konsaru2 {
      height: 1982px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yuka {
      height: 3020px;
    }
    .bg-riyu {
      height: 1750px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yokuaru {
      height: 3650px;
    }
    .footer {
      height: 80px;
      background: #002882;
      text-align: center;
      p {
        padding-top: 25px;
        color: white;
        a {
          color: inherit;
        }
      }
    }
  }
}
/*タブ切り替え全体のスタイル*/
.tabs {
  z-index: 10;
  margin-top: 50px;
  background-color: #fff;
  width: 750px;
  margin: 0 auto;
  position: relative;
  /*タブ切り替えの中身のスタイル*/
  .tab_content.tabRight {
    display: block;
    .tabRight-kanzen {
      img {
        width: 100%;
      }
    }
    .tabRight-sangatsu {
      position: relative;
      height: 1037px;
      .month3 {
        margin-top: 70px;
        position: absolute;
      }
      .button {
        top: 51%;
        left: 7%;
        position: absolute;
      }
      .button:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .tabRight-warning {
      position: absolute;
      top: 106%;
      .warning-pc {
        width: 100%;
      }
      .warning-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-tasya {
      position: absolute;
      top: 155%;
      img {
        width: 100%;
      }
    }
    .tabRight-konsaru {
      position: absolute;
      top: 258%;
      .konsaru-pc {
        width: 100%;
      }
      .konsaru-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-konsaru2 {
      position: absolute;
      top: 315%;
      .konsaru2-pc {
        width: 100%;
      }
      .konsaru2-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-yuryou {
      position: absolute;
      width: 750px;
      top: 419%;
      .yuryou {
        margin-top: 44px;
      }
    }
    .tabRight-riyu {
      position: absolute;
      top: 587%;
      .riyu-pc {
        width: 100%;
      }
      .riyu-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-yokuaru {
      position: absolute;
      top: 678%;
      .yokuaru {
        margin-bottom: 20px;
      }
      .footer-mb {
        display: none;
        height: 120px;
        background: #002882;
        text-align: center;
        .footer-content{
          padding-top: 15px;
          margin: 0;
          color: white;
          a {
            color: inherit;
          }
        }
        .footer-copy {
          padding-top: 0px;
          color: white;
        }
      }
    }
  }
}
.button-mb {
  position: fixed;
  bottom: 0;
  background: #767676;
  width: 100%;
  padding: 30px 0 20px;
  text-align: center;
  z-index: 50;
  display: none;
}

@media only screen and (max-width: 768px) {
  .background {
    display: none !important;
  }
  .tabs {
    .tab_content.tabRight {
      .tabRight-sangatsu {
        img {
          width: 100%;
        }
        .button {
          width: 80%;
          top: 52%;
          left: 10%;
        }
      }
      .tabRight-warning {
        top: 103%;
        .warning-pc {
          display: none;
        }
        .warning-mb {
          display: block;
        }
      }
      .tabRight-konsaru {
        top: 254%;
        .konsaru-pc {
          display: none;
        }
        .konsaru-mb {
          display: block;
        }
      }
      .tabRight-konsaru2 {
        top: 311%;
        .konsaru2-pc {
          display: none;
        }
        .konsaru2-mb {
          display: block;
        }
      }
      .tabRight-yuryou {
        top: 416%;
      }
      .tabRight-riyu {
        top: 578%;
        .riyu-pc {
          display: none;
        }
        .riyu-mb {
          display: block;
        }
      }
      .tabRight-yokuaru {
        img {
          width: 100%;
        }
        .footer-mb {
          margin-bottom: 200px;
          display: block;
        }
      }
    }
  }
  .button-mb {
    display: block;
  }
}

@media only screen and (max-width: 415px) {
  .tabs {
    width: 413px !important;
    .tab_content.tabRight {
      .tabRight-sangatsu {
        .month3 {
          margin-top: 30px;
        }
        .button {
          width: 80%;
          top: 50%;
          left: 10%;
        }
      }
      .tabRight-sangatsu {
        height: 580px;
      }
      .tabRight-warning {
        top: 102%;
      }
      .tabRight-tasya {
        top: 153%;
      }
      .tabRight-konsaru {
        top: 251%;
      }
      .tabRight-konsaru2 {
        top: 307%;
      }
      .tabRight-yuryou {
        top: 412%;
        width: 413px;
        .yuryou{
          margin-top: 14px;
        }
        img {
          width: 100%;
        }
      }
      .tabRight-riyu {
        top: 574%;
      }
      .tabRight-yokuaru {
        top: 674%;
        .footer-mb {
          height: 125px;
          margin-bottom: 110px;
        }
      }
    }
  }
  .button-mb {
    padding: 20px 0 10px;
    .button {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 376px) {
  .tabs {
    width: 375px !important;
    .tab_content.tabRight {
      .tabRight-sangatsu {
        .button {
          top: 50%;
        }
      }
      .tabRight-warning {
        top: 96%;
      }
      .tabRight-tasya {
        top: 145%;
      }
      .tabRight-konsaru {
        top: 237%;
      }
      .tabRight-konsaru2 {
        top: 290%;
      }
      .tabRight-yuryou {
        top: 390%;
        width: 374px;
        .yuryou {
          margin-top: -30px;
        }
      }
      .tabRight-riyu {
        top: 542%;
      }
      .tabRight-yokuaru {
        top: 635%;
        .tabRight-sangatsu {
          height: 535px;
          .button {
            top: 53%;
          }
        }
      }
    }
  }
}
