body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  position: relative;
}
.background {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 140px;
  .background-leftside {
    .bg-kanzen {
      height: 805px;
      background: #f4f4f4;
    }
    .bg-sangatsu {
      height: 950px;
    }
    .bg-no1 {
      height: 1644px;
      img {
        width: 100%;
        height: 1644px;
      }
    }
    .bg-4tsu {
      height: 1249px;
      img {
        width: 100%;
        height: 1249px;
      }
    }
    .bg-ng {
      height: 995px;
      img {
        width: 100%;
        height: 995px;
      }
    }
    .bg-nayami {
      height: 1272px;
    }
    .bg-kosarubg {
      height: 1015px;
      img {
        width: 100%;
        height: 1015px;
      }
    }
    .bg-4tsu2 {
      height: 1401px;
      img {
        width: 100%;
        height: 1401px;
      }
    }
    .bg-tasya {
      height: 2638px;
    }
    .bg-no1-2 {
      height: 3289px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yuryo {
      height: 2034px;
    }
    .bg-kosarubg2 {
      height: 1742px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yokuaru {
      height: 3820px;
    }
    .footer {
      height: 80px;
      background: #002882;
      text-align: center;
      p {
        padding-top: 25px;
        color: white;
      }
    }
  }
  .background-rightside {
    display: none;
    .bg-kanzen {
      height: 803px;
      background: #f4f4f4;
    }
    .bg-threemonth {
      height: 1080px;
    }
    .bg-warning {
      height: 887px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-tasya {
      height: 1910px;
    }
    .bg-konsaru {
      height: 1057px;
      background: #fffee8;
    }
    .bg-konsaru2 {
      height: 1982px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yuka {
      height: 3080px;
    }
    .bg-riyu {
      height: 1828px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yokuaru {
      height: 3675px;
    }
    .footer {
      height: 80px;
      background: #002882;
      text-align: center;
      p {
        padding-top: 25px;
        color: white;
      }
    }
  }
}
/*タブ切り替え全体のスタイル*/
.tabs {
  z-index: 10;
  margin-top: 50px;
  background-color: #fff;
  width: 750px;
  margin: 0 auto;
  position: relative;
  /*タブのスタイル*/
  .tab_item {
    z-index: 5;
    margin-top: 20px;
    padding-top: 10px;
    width: calc(100% / 2);
    height: 100px;
    background-color: #d3d3d3;
    line-height: 50px;
    text-align: center;
    color: #fff;
    display: block;
    float: left;
    border-radius: 20px 20px 0 0;
    transition: all 0.2s ease;
    font-size: 36px;
    font-weight: 500;
    border-bottom: 8px solid #2e46d6;
  }
  .tab_item:hover {
    opacity: 0.85;
  }
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    clear: both;
    overflow: hidden;
    .kanzen {
      img {
        width: 100%;
      }
    }
    .sangatsu {
      height: 947px;
      width: 100%;
      position: relative;
      .month3 {
        width: inherit;
        margin-top: 80px;
        position: absolute;
      }
      .button {
        top: 47%;
        left: 7%;
        position: absolute;
      }
      .button:hover {
        cursor: pointer;
      }
    }
    .no1 {
      position: absolute;
      height: 1484px;
      top: 104%;
      img {
        width: 100%;
      }
    }
    .yottsu {
      position: absolute;
      height: 1090px;
      top: 191%;
      .yottsu-pc {
        width: 100%;
      }
      .yottsu-mb {
        display: none;
        width: 100%;
      }
    }
    .warning {
      position: absolute;
      height: 835px;
      top: 257%;
      .warning-pc {
        width: 100%;
      }
      .warning-mb {
        display: none;
        width: 100%;
      }
    }
    .nayami {
      position: absolute;
      height: 1112px;
      top: 309%;
      img {
        width: 100%;
      }
    }
    .konsaru {
      position: absolute;
      height: 925px;
      top: 376%;
      img {
        width: 100%;
      }
    }
    .konsaru2 {
      position: absolute;
      height: 925px;
      top: 430%;
      .konsaru2-pc {
        width: 100%;
      }
      .konsaru2-mb {
        display: none;
        width: 100%;
      }
    }
    .tasya-container {
      position: absolute;
      width: 750px;
      top: 500%;
    }
    .nagare {
      position: absolute;
      top: 643%;
      img {
        width: 100%;
      }
    }
    .yuuryou {
      position: absolute;
      top: 822%;
      left: 8%;
      img {
        width: 100%;
      }
    }
    .ng {
      position: absolute;
      top: 930%;
      .ng-pc {
        width: 100%;
      }
      .ng-mb {
        display: none;
        width: 100%;
      }
    }
    .yokuaru-container {
      position: absolute;
      width: 750px;
      top: 1021%;
      .footer-mb {
        display: none;
        height: 80px;
        background: #002882;
        text-align: center;
        p {
          padding-top: 25px;
          color: white;
        }
      }
    }
  }
  .tab_content.tabRight {
    .tabRight-kanzen {
      img {
        width: 100%;
      }
    }
    .tabRight-sangatsu {
      position: relative;
      height: 1037px;
      .month3 {
        // width: 100%;
        margin-top: 70px;
        position: absolute;
      }
      .button {
        top: 53%;
        left: 7%;
        position: absolute;
      }
      .button:hover {
        cursor: pointer;
      }
    }
    .tabRight-warning {
      position: absolute;
      top: 106%;
      img {
        width: 100%;
      }
    }
    .tabRight-tasya {
      position: absolute;
      top: 151%;
      img {
        width: 100%;
      }
    }
    .tabRight-konsaru {
      position: absolute;
      top: 247%;
      img {
        width: 100%;
      }
    }
    .tabRight-konsaru2 {
      position: absolute;
      top: 300%;
      img {
        width: 100%;
      }
    }
    .tabRight-yuryou {
      position: absolute;
      width: 750px;
      top: 396%;
      .yuryou {
        margin-top: 95px;
      }
    }
    .tabRight-riyu {
      position: absolute;
      top: 555%;
      img {
        width: 100%;
      }
    }
    .tabRight-yokuaru {
      position: absolute;
      top: 645%;
      .yokuaru {
        margin-bottom: 20px;
      }
    }
  }
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#programming:checked ~ #programming_content,
#design:checked ~ #design_content {
  display: block;
  z-index: 5;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item.left {
  background-color: #2e46d6;
  color: #fff;
  height: 120px;
  margin-top: 0px;
  border-bottom: 8px solid #2e46d6;
}
.tabs input:checked + .tab_item.right {
  background-color: #f03039;
  border-bottom: 8px solid #f03039;
  color: #fff;
  height: 120px;
  margin-top: 0px;
}
@media only screen and (max-width: 415px) {
  .background {
    display: none !important;
  }
  .tabs {
    width: 412px !important;
    .tab_item {
      font-size: 25px;
      line-height: 35px;
      height: 80px;
    }
    input:checked + .tab_item.left {
      height: 100px !important;
    }
    input:checked + .tab_item.right {
      height: 100px !important;
    }
    .tab_content {
      .sangatsu {
        height: 530px;
        .button {
          width: 80%;
          top: 52%;
          left: 10%;
        }
      }
      .yottsu {
        top: 183%;
        .yottsu-pc {
          display: none;
        }
        .yottsu-mb {
          display: block;
        }
      }
      .warning {
        top: 248%;
        .warning-pc {
          display: none;
        }
        .warning-mb {
          display: block;
        }
      }
      .tasya-container {
        width: 413px;
        .sangatsu {
          .button {
            width: 80%;
          }
        }
        img {
          width: 100%;
        }
      }
      .yuuryou {
        left: 0;
      }
      .nayami {
        top: 302%;
      }
      .konsaru {
        top: 362%;
      }
      .konsaru2 {
        top: 408%;
        .konsaru2-pc {
          display: none;
        }
        .konsaru2-mb {
          display: block;
        }
      }
      .tasya-container {
        top: 467%;
        .tasya {
          margin-top: 25px;
        }
      }
      .nagare {
        top: 603%;
      }
      .yuuryou {
        top: 763%;
      }
      .ng {
        top: 867%;
        .ng-pc {
          display: none;
        }
        .ng-mb {
          display: block;
        }
      }
      .yokuaru-container {
        top: 957%;
        width: 413px;
        .sangatsu {
          .month3 {
            margin-top: 63px;
          }
          .button {
            width: 80%;
          }
        }
        img {
          width: 100%;
        }
        .footer-mb {
          display: block;
        }
      }
    }
    .tab_content.tabRight {
      .tabRight-sangatsu {
        .button {
          width: 80%;
          top: 58%;
          left: 10%;
        }
      }
      .tabRight-sangatsu {
        height: 580px;
      }
      .tabRight-yuryou {
        width: 413px;
      }
    }
  }
}
@media only screen and (max-width: 376px) {
  .background {
    .background-leftside {
      display: none;
    }
  }
  .tabs {
    width: 375px !important;
    .tab_item {
      font-size: 25px;
      line-height: 35px;
      height: 80px;
    }
    .tab_content {
      .tasya-container {
        width: 374px;
      }
      .yokuaru-container {
        width: 374px;
      }
    }
  }
}
