body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  position: relative;
}
.background {
  z-index: 1;
  position: absolute;
  width: 100%;
  .background-leftside {
    .bg-kanzen {
      height: 803px;
      background: #f4f4f4;
    }
    .bg-sangatsu {
      height: 950px;
    }
    .bg-no1 {
      height: 1644px;
      img {
        width: 100%;
        height: 1644px;
      }
    }
    .bg-4tsu {
      height: 1249px;
      img {
        width: 100%;
        height: 1249px;
      }
    }
    .bg-ng {
      height: 995px;
      img {
        width: 100%;
        height: 995px;
      }
    }
    .bg-nayami {
      height: 1272px;
    }
    .bg-kosarubg {
      height: 1015px;
      img {
        width: 100%;
        height: 1015px;
      }
    }
    .bg-4tsu2 {
      height: 1401px;
      img {
        width: 100%;
        height: 1401px;
      }
    }
    .bg-tasya {
      height: 2638px;
    }
    .bg-no1-2 {
      height: 3289px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yuryo {
      height: 1875px;
    }
    .bg-kosarubg2 {
      height: 1742px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yokuaru {
      height: 3820px;
    }
    .footer {
      height: 80px;
      background: #002882;
      text-align: center;
      p {
        padding-top: 25px;
        color: white;
        a {
          color: inherit;
        }
      }
    }
  }
  .background-rightside {
    display: block;
    .bg-kanzen {
      height: 803px;
      background: #f4f4f4;
    }
    .bg-threemonth {
      height: 1080px;
    }
    .bg-warning {
      height: 887px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-tasya {
      height: 1910px;
    }
    .bg-konsaru {
      height: 1057px;
      background: #fffee8;
    }
    .bg-konsaru2 {
      height: 1982px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yuka {
      height: 3020px;
    }
    .bg-riyu {
      height: 1750px;
      img {
        width: 100%;
        height: inherit;
      }
    }
    .bg-yokuaru {
      height: 3675px;
    }
    .footer {
      height: 80px;
      background: #002882;
      text-align: center;
      p {
        padding-top: 25px;
        color: white;
        a {
          color: inherit;
        }
      }
    }
  }
}
/*タブ切り替え全体のスタイル*/
.tabs {
  z-index: 10;
  margin-top: 50px;
  background-color: #fff;
  width: 750px;
  margin: 0 auto;
  position: relative;
  /*タブ切り替えの中身のスタイル*/
  .tab_content.tabRight {
    display: block;
    .tabRight-kanzen {
      img {
        width: 100%;
      }
    }
    .tabRight-sangatsu {
      position: relative;
      height: 1037px;
      .month3 {
        margin-top: 70px;
        position: absolute;
      }
      .button {
        top: 53%;
        left: 7%;
        position: absolute;
      }
      .button:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .tabRight-warning {
      position: absolute;
      top: 106%;
      .warning-pc {
        width: 100%;
      }
      .warning-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-tasya {
      position: absolute;
      top: 155%;
      img {
        width: 100%;
      }
    }
    .tabRight-konsaru {
      position: absolute;
      top: 258%;
      .konsaru-pc {
        width: 100%;
      }
      .konsaru-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-konsaru2 {
      position: absolute;
      top: 315%;
      .konsaru2-pc {
        width: 100%;
      }
      .konsaru2-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-yuryou {
      position: absolute;
      width: 750px;
      top: 419%;
      .yuryou {
        margin-top: 44px;
      }
    }
    .tabRight-riyu {
      position: absolute;
      top: 587%;
      .riyu-pc {
        width: 100%;
      }
      .riyu-mb {
        display: none;
        width: 100%;
      }
    }
    .tabRight-yokuaru {
      position: absolute;
      top: 678%;
      .yokuaru {
        margin-bottom: 20px;
      }
      .footer-mb {
        display: none;
        height: 120px;
        background: #002882;
        text-align: center;
        .footer-content{
          padding-top: 15px;
          margin: 0;
          color: white;
          a {
            color: inherit;
          }
        }
        .footer-copy {
          padding-top: 0px;
          color: white;
        }
      }
    }
  }
}
.button-mb {
  position: fixed;
  bottom: 0;
  background: #767676;
  width: 100%;
  padding: 30px 0 20px;
  text-align: center;
  z-index: 50;
  display: none;
}

@media only screen and (max-width: 768px) {
  .background {
    display: none !important;
  }
  .tabs {
    .tab_content {
      .sangatsu {
        height: 840px;
        .button {
          width: 80%;
          top: 51%;
          left: 10%;
        }
      }
      .no1 {
        .no1-pc {
          display: none;
        }
        .no1-mb {
          display: block;
        }
      }
      .yottsu {
        top: 200%;
        .yottsu-pc {
          display: none;
        }
        .yottsu-mb {
          display: block;
        }
      }
      .warning {
        top: 273%;
        .warning-pc {
          display: none;
        }
        .warning-mb {
          display: block;
        }
      }
      .yuuryou {
        left: 0;
      }
      .nayami {
        top: 333%;
      }
      .konsaru {
        top: 403%;
        .konsaru-pc {
          display: none;
        }
        .konsaru-mb {
          display: block;
        }
      }
      .konsaru2 {
        top: 459%;
        .konsaru2-pc {
          display: none;
        }
        .konsaru2-mb {
          display: block;
        }
      }
      .tasya-container {
        top: 539%;
        width: 750px;
        .tasya {
          margin-top: 50px;
        }
      }
      .nagare {
        top: 683%;
        .nagare-pc {
          display: none;
        }
        .nagare-mb {
          display: block;
        }
      }
      .yuuryou {
        top: 877%;
      }
      .ng {
        top: 986%;
        .ng-pc {
          display: none;
        }
        .ng-mb {
          display: block;
        }
      }
      .yokuaru-container {
        top: 1085%;
        width: 750px;
        .sangatsu {
          .month3 {
            margin-top: 63px;
          }
          .button {
            width: 80%;
          }
        }
        img {
          width: 100%;
        }
        .footer-mb {
          margin-top: 40px;
          margin-bottom: 200px;
          display: block;
        }
      }
    }
    .tab_content.tabRight {
      .tabRight-sangatsu {
        img {
          width: 100%;
        }
        .button {
          width: 80%;
          top: 54%;
          left: 10%;
        }
      }
      .tabRight-warning {
        top: 103%;
        .warning-pc {
          display: none;
        }
        .warning-mb {
          display: block;
        }
      }
      .tabRight-konsaru {
        top: 243%;
        .konsaru-pc {
          display: none;
        }
        .konsaru-mb {
          display: block;
        }
      }
      .tabRight-konsaru2 {
        top: 296%;
        .konsaru2-pc {
          display: none;
        }
        .konsaru2-mb {
          display: block;
        }
      }
      .tabRight-yuryou {
        top: 394%;
      }
      .tabRight-riyu {
        top: 545%;
        .riyu-pc {
          display: none;
        }
        .riyu-mb {
          display: block;
        }
      }
      .tabRight-yokuaru {
        img {
          width: 100%;
        }
        .footer-mb {
          margin-bottom: 200px;
          display: block;
        }
      }
    }
  }
  .button-mb {
    display: block;
  }
}

@media only screen and (max-width: 415px) {
  .tabs {
    width: 413px !important;
    .tab_content {
      .sangatsu {
        height: 490px;
        .button {
          top: 53%;
        }
      }
      .yottsu {
        top: 189%;
      }
      .warning {
        top: 256%;
      }
      .tasya-container {
        width: 413px;
        img {
          width: 100%;
        }
      }
      .yuuryou {
        left: 0;
      }
      .nayami {
        top: 311%;
      }
      .konsaru {
        top: 373%;
      }
      .konsaru2 {
        top: 425%;
      }
      .tasya-container {
        top: 493%;
        .tasya {
          margin-top: 25px;
        }
      }
      .nagare {
        top: 628%;
      }
      .yuuryou {
        top: 805%;
      }
      .ng {
        top: 905%;
      }
      .yokuaru-container {
        top: 996%;
        width: 413px;
        .footer-mb {
          height: 125px;
          margin-bottom: 110px;
          margin-top: 40px;
          display: block;
        }
      }
    }
    .tab_content.tabRight {
      .tabRight-sangatsu {
        .month3 {
          margin-top: 40px;
        }
        .button {
          width: 80%;
          top: 54%;
          left: 10%;
        }
      }
      .tabRight-sangatsu {
        height: 580px;
      }
      .tabRight-warning {
        top: 102%;
      }
      .tabRight-tasya {
        top: 148%;
      }
      .tabRight-konsaru {
        top: 236%;
      }
      .tabRight-konsaru2 {
        top: 286%;
      }
      .tabRight-yuryou {
        top: 380%;
        width: 413px;
        img {
          width: 100%;
        }
      }
      .tabRight-riyu {
        top: 526%;
      }
      .tabRight-yokuaru {
        top: 615%;
        .footer-mb {
          height: 125px;
          margin-bottom: 110px;
        }
      }
    }
  }
  .button-mb {
    padding: 20px 0 10px;
    .button {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 376px) {
  .tabs {
    width: 375px !important;
    .tab_content {
      .tasya-container {
        width: 374px;
      }
      .sangatsu {
        height: 455px;
      }
      .konsaru2 {
        top: 424%;
      }
      .yokuaru-container {
        width: 374px;
      }
    }
    .tab_content.tabRight {
      .tabRight-sangatsu {
        .button {
          top: 50%;
        }
      }
      .tabRight-warning {
        top: 97%;
      }
      .tabRight-tasya {
        top: 141%;
      }
      .tabRight-konsaru {
        top: 224%;
      }
      .tabRight-konsaru2 {
        top: 272%;
      }
      .tabRight-yuryou {
        top: 360%;
        width: 374px;
        .yuryou {
          margin-top: -30px;
        }
      }
      .tabRight-riyu {
        top: 497%;
      }
      .tabRight-yokuaru {
        top: 580%;
        .tabRight-sangatsu {
          height: 535px;
          .button {
            top: 53%;
          }
        }
      }
    }
  }
}
